<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('/css/test.css') }}">
    <!-- <script src="{{ asset('/js/test.js') }}"></script> -->


</head>

<body>
    <!-- <style>
        .progress-input {
            width: 100%;
            height: 20px;
            background-color: #f2f2f2;
            border-radius: 5px;
        }
        
        .progress-bar {
            width: 0%;
            height: 100%;
            background-color: #4caf50;
            border-radius: 5px;
            transition: width 0.5s ease;
        }
    </style> -->
    <!-- <div class="skill-input">
        <label for="skill">Skill Level</label>
        <input type="range" id="skill" min="0" max="5" step="1" value="0">
        <input type="text" id="skill-value" readonly>
    </div>

     <div class="progress-input">
        <input type="text" class="progress-bar" id="progress-input" value="" />
    </div> -->
   <!-- <script>
        $(document).ready(function() {
            $('#skill').on('input', function() {
                var skillLevel = $(this).val();
                $('#skill-value').val(skillLevel + '%');
            });
        });
        console.log(skillLevel);
    </script> -->

</body>

</html>